node_modules
public/bower_components
public/polymer-loader.vulcanized.html
test-target
main.min.css
public/index-inline.css
public/index.html
public/elements/seed-app/seed-app-styles.html
public/elements/seed-footer/seed-footer-styles.html
public/elements/three-widgets-card/three-widgets-card-styles.html
public/typography-styles.html
dist/public
dist/www
.idea
npm-debug.log
*.log
.DS_Store
temp
