<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/elements/bar-chart-card/bar-chart-card.html">
<link rel="import" href="/elements/scatter-plot-card/scatter-plot-card.html">
<link rel="import" href="/elements/time-series-card/time-series-card.html">
<link rel="import" href="/elements/values-card/values-card.html">
<link rel="import" href="/elements/latest-tag-data/latest-tag-data.html">
<link rel="import" href="/bower_components/px-alert-message/px-alert-message.html">
<style media="screen">
  .alert-message-container {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1020;
    height: 100vh;
  }
</style>

<dom-module id="dashboards-view">
  <template>

    <script type="text/javascript" src="../../bower_components/es6-promise/es6-promise.min.js"></script>

    <iron-ajax
          id="getTags"
          auto
          method="GET"
          url="/predix-api/predix-timeseries/v1/tags"
          handle-as="json"
          content-type="application/json"
          on-response="_tagResponse"
    ></iron-ajax>
    <div class="alert-message-container">
      <px-alert-message hidden
        type="important"
        message-title="Important!"
        message="Demand is greater than total power output."
        action="dismiss"
        auto-dismiss="5000">
      </px-alert-message>
    </div>

    <!-- Show latest value on one card per tag -->
    <span class="layout">
      <latest-data-card id="coalTag" class="layout__item"
        card-title="Coal Power (MW)" tag="CoalPower-xlp-[[deviceName]]" card-color="[[cardColor]]"></latest-data-card>
      <latest-data-card id="gasTag" class="layout__item"
        card-title="Gas Power (MW)" tag="GasPower-xlp-[[deviceName]]" card-color="[[cardColor]]"></latest-data-card>
      <latest-data-card id="windPowerTag" class="layout__item"
        card-title="Wind Power (MW)" tag="WindPower-xlp-[[deviceName]]" card-color="[[cardColor]]"></latest-data-card>
      <latest-data-card id="totalPowerTag" class="layout__item"
        card-title="Total Power (MW)" tag="TotalPower-xlp-[[deviceName]]" card-color="[[cardColor]]"></latest-data-card>
      <latest-data-card id="temperatureTag" class="layout__item"
        card-title="Gearbox Temperature (&deg;C)" tag="Temperature-xlp-[[deviceName]]" card-color="[[cardColor]]"></latest-data-card>
      <latest-data-card id="humidityTag" class="layout__item"
        card-title="Gearbox Humidity (%)" tag="Humidity-xlp-[[deviceName]]" card-color="[[cardColor]]"></latest-data-card>
      <!-- How can we set the windSpeed variable? -->
      <latest-data-card id="windSpeed" class="layout__item"
        card-title="Wind Speed (m/s)" tag="WindSpeed" windspeed card-color="[[cardColor]]"></latest-data-card>
      <latest-data-card id="demand" class="layout__item"
        card-title="Demand (MW)" tag="Demand" card-color="[[cardColor]]" demand={{demand}}></latest-data-card>
    </span>

    <!-- show scatter plot of demand vs. output-->
    <!-- <scatter-plot-card card-title="Scatter Plot Card" output-tag="TotalPower-xlp-[[deviceName]]" demand-tag="Demand" card-color="[[cardColor]]"></scatter-plot-card> -->
    <!-- Show time series data as a line chart -->
    <time-series-card id="tsLineChart"
        card-title="Time Series Card - Line" tags="[[tagVals]]" hide-bar card-color="[[cardColor]]">
    </time-series-card>
    <!-- Show time series data as a bar chart -->
    <time-series-card id="tsBarChart"
        card-title="Time Series Card - Bar" tags="[[tagVals]]" hide-line card-color="[[cardColor]]">
    </time-series-card>
    <!-- Show time series for just one tag, no dropdown -->
    <time-series-card id="tsSingleTag"
        card-title="Time Series Card - Bar" tags="[[_setTag('Humidity-xlp-trainer-03')]]" hide-line card-color="[[cardColor]]">
    </time-series-card>

  </template>
  <script>

    // This is the device name you are using
    var deviceName = 'trainer-03';

    Polymer({

      is: 'dashboards-view',

      properties: {
        tags: {
          type: Object,
          value: {}
        },
        tagVals: {
          type: Array
        },
        deviceName: {
          type: String,
          value: deviceName
        },
        cardColor: {
          type: String,
          value: "white"
        },
        demand: {
          type: Number,
          value: 123,
          notify: true
        }
      },

      ready: function ready() {
        var _this = this;
      },
      _tagResponse: function(e, details){
        let tags = details.response.results;
        let temp = [];
        let component = {
          tags: []
        };

        tags.forEach((tag) => {
          if(tag.indexOf(this.deviceName)!== -1 || tag == "Demand"){
            temp.push(tag);
            component.tags.push({
              name: [ tag ]
            });
          }
        });
        this.tags = {
          "tags": component.tags
        };
        this.tagVals = temp;
      },
      _setTag: function(tag){
        let temp = [];
        temp.push(tag);
        return temp;
      }
    });
  </script>
</dom-module>
