<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/px-context-browser/px-context-browser.html">
<link rel="import" href="/bower_components/px-deck-selector/px-deck-selector.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">

<!-- local px-deck -->
<link rel="import" href="/elements/px-deck/px-deck-index.html">
<link rel="import" href="/elements/bar-chart-card/bar-chart-card.html">
<link rel="import" href="/elements/data-table-card/data-table-card.html">
<link rel="import" href="/elements/scatter-plot-card/scatter-plot-card.html">
<link rel="import" href="/elements/time-series-card/time-series-card.html">
<link rel="import" href="/elements/values-card/values-card.html">


<dom-module id="dashboards-view">
  <template>

    <script type="text/javascript" src="../../bower_components/es6-promise/es6-promise.min.js"></script>

    <values-card></values-card>
    <bar-chart-card></bar-chart-card>
    <data-table-card></data-table-card>
    <scatter-plot-card></scatter-plot-card>
    <time-series-card></time-series-card>

  </template>
  <script>
    Polymer({

      is: 'dashboards-view',

      properties: {

      },

      ready: function ready() {
        var _this = this;
      }

    });
  </script>
</dom-module>
