<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/elements/bar-chart-card/bar-chart-card.html">
<link rel="import" href="/elements/scatter-plot-card/scatter-plot-card.html">
<link rel="import" href="/elements/time-series-card/time-series-card.html">
<link rel="import" href="/elements/values-card/values-card.html">
<link rel="import" href="/elements/latest-tag-data/latest-tag-data.html">
<link rel="import" href="/elements/pie-chart-card/pie-chart-card.html">
<link rel="import" href="/bower_components/px-alert-message/px-alert-message.html">
<style media="screen">
  .alert-message-container {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1020;
    height: 100vh;
  }
</style>

<dom-module id="dashboards-view">
  <template>

    <script type="text/javascript" src="../../bower_components/es6-promise/es6-promise.min.js"></script>

    <!-- Retrieve list of all tags -->
    <iron-ajax
          id="getTags"
          auto
          method="GET"
          url="/predix-api/predix-timeseries/v1/tags"
          handle-as="json"
          content-type="application/json"
          on-response="_tagResponse"
    ></iron-ajax>
    <div id="alert" class="alert-message-container">
    </div>

    <!-- Show latest value on one card per tag -->
    <span class="layout">
      <!-- Show realtime temperature -->
      <latest-data-card id="temperatureTag" class="layout__item"
        card-title="Gearbox Temperature (&deg;C)" tag="Temperature-xlp-[[deviceName]]" card-color="[[cardColor]]"></latest-data-card>
      <!-- Show realtime demand, and make accessible elsewhere on dashboard -->
      <latest-data-card id="demand" class="layout__item"
        card-title="Demand (MW)" tag="Demand" card-color="[[cardColor]]" bound-value={{demand}}></latest-data-card>
    </span>

    <!-- Pie chart - requires all power tags -->
<!--     <pie-chart-card id="pieChart"
        card-title="Pie Chart" card-color="[[cardColor]]" pie-data="[[pieData]]"></pie-chart-card>
 -->

    <!-- Show time series for just one tag, no dropdown -->
    <time-series-card id="tsSingleTag"
        card-title="Time Series Card - Line" tags="[[_setTag('Temperature-xlp-')]]" hide-bar card-color="[[cardColor]]">
    </time-series-card>
    <time-series-card id="tsSingleTag"
        card-title="Time Series Card - Line" tags="[[_setTag('Demand')]]" hide-bar card-color="[[cardColor]]">
    </time-series-card>

    <!-- Show time series data as a line chart for all tags -->
<!--     <time-series-card id="tsLineChart"
        card-title="Time Series Card - Line" tags="[[tagVals]]" hide-bar card-color="[[cardColor]]">
    </time-series-card>
 -->    <!-- Show time series data as a bar chart for all tags -->
<!--     <time-series-card id="tsBarChart"
        card-title="Time Series Card - Bar" tags="[[tagVals]]" hide-line card-color="[[cardColor]]">
    </time-series-card>
 -->
  </template>
  <script>

    // This is the device name you are using
    var deviceName = 'XX';

    Polymer({

      is: 'dashboards-view',

      properties: {
        tags: {
          type: Object,
          value: {}
        },
        tagVals: {
          type: Array
        },
        deviceName: {
          type: String,
          value: deviceName
        },
        cardColor: {
          type: String,
          value: "white"
        },
        demand: {
          type: Number,
          value: -1,
          notify: true,
          observer: "compareDemandOutput"
        },
        output: {
          type: Number,
          value: -1,
          notify: true,
          observer: "compareDemandOutput"
        },
        coalPower: {
          type: Number,
          value: -1,
          notify: true,
          observer: '_setPieData'
        },
        windPower: {
          type: Number,
          value: -1,
          observer: '_setPieData'
        },
        gasPower: {
          type: Number,
          value: -1,
          observer: '_setPieData'
        },
        pieData: {
          type: Array
        },
        thresholds: {
          type: Object,
          // value: {
          //   'demand': {
          //      upper: 100,
          //      lower: 0,
          //      color: 'red'
          //   }
          // }
        }
      },
      ready: function ready() {
        var _this = this;
      },
      compareDemandOutput: function(){
        if(this.demand && this.output) {
          if(this.demand !== -1 && this.output !== -1 && this.demand > this.output){
            //create px-alert-message element
            var el = document.createElement("px-alert-message");
            el.type = "important";
            el.messageTitle = "Important!";
            el.message = "Demand is greater than total power output.";
            el.action = "dismiss";
            el.autoDismiss = "5000";
            // Uncomment the following line to show alerts
            //document.getElementById('alert').appendChild(el);
          }
        }
      },
      _tagResponse: function(e, details){
        let tags = details.response.results;
        let temp = [];
        let component = {
          tags: []
        };

        tags.forEach((tag) => {
          if(tag.indexOf(deviceName)!== -1 || tag == "Demand"){
            temp.push(tag);
            component.tags.push({
              name: [ tag ]
            });
          }
        });
        this.tags = {
          "tags": component.tags
        };
        this.tagVals = temp;
      },
      _setTag: function(tag){
        let temp = [];
        if(tag === 'Demand'){
          deviceName = '';
        }
        temp.push(tag + deviceName);
        return temp;
      },
      _setPieData: function(){
        if(this.coalPower > -1 && this.gasPower > -1 && this.windPower > -1){
          this.pieData = [
            {
              "x": this.coalPower,
              "y": 'Coal Power'
            },
            {
              "x": this.windPower,
              y: 'Wind Power'
            },
            {
              "x": this.gasPower,
              "y": 'Gas Power'
            }
          ];
        }
      }
    });
  </script>
</dom-module>
